<div class="menu">
  <div>
    <span *ngIf="recordingState == 'recorded'">Recorded</span>
    <span *ngIf="recordingState == 'recording'">Recording...</span>
  </div>
  <div class="button-section">
    <button (click)="startRecording()" [disabled]="recordingState == 'recording'">Start recording</button>
    <button (click)="stopRecording()" [disabled]="recordingState != 'recording'">Stop recording</button>
    <button (click)="download()" [disabled]="recordingState != 'recorded'">Download</button>
  </div>
</div>